<div style="background-color:#f5f5f5;padding-top:80px">
    
  <div style="margin:0 auto;max-width:600px;background:#ffffff">
    <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#ffffff;border-top:3px solid #fead0d" align="center" border="0">
      <tbody>
        <tr>
          <td style="text-align:center;vertical-align:top;font-size:0px;padding:40px 30px 30px 30px">
            
            <div aria-labelledby="mj-column-per-100" class="m_2225452685284323251mj-column-per-100" style="vertical-align:top;display:inline-block;font-size:13px;text-align:left;width:100%">
              <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                <tbody>
                  <tr>
                    <td style="word-break:break-word;font-size:0px;padding:0px;padding-bottom:30px" align="center">
                      <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0px" align="center" border="0">
                        <tbody>
                          <tr>
                            <td style="">
                              Nearby Shops - Welcome</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td style="word-break:break-word;font-size:0px;padding:0px;padding-bottom:30px" align="center">
                      <div style="color:#55575d;font-family:Open Sans,Helvetica,Arial,sans-serif;font-size:22px;font-weight:700;line-height:22px">
                        Activate Your Account
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="word-break:break-word;font-size:0px;padding:0px;padding-bottom:35px" align="center">
                      <div style="color:#8c8c8c;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:14px;line-height:22px">
                        We just need to validate your email address to activate your Nearby Shops account. Simply click the following button:
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="word-break:break-word;font-size:0px;padding:0px;padding-bottom:35px" align="center">
                      <div style="color:#8c8c8c;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:14px;line-height:22px">
                        </div></td></tr><tr>
<td style="word-break:break-word;font-size:0px;padding:0px;padding-bottom:40px" align="center">
  <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate" align="center" border="0">
    <tbody>
      <tr>
        <td style="border-radius:2px;color:#fff;padding:10px 25px" align="center" valign="middle" bgcolor="#fead0d">
          <a href="http://localhost:3000{{ route('verification') }}?token={{user.verificationToken}}"  style="display:inline-block;text-decoration:none;background:#fead0d;color:#fff;font-family:Roboto,Helvetica,Arial,sans-serif,Helvetica,Arial,sans-serif;font-size:14px;font-weight:normal;margin:0px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://gtpx.mjt.lu/lnk/BAAAAAqghCQAAAAAAAAAAG0sTBMAARpwxasAAAAAAAicvQBcGEtLva8X7KfqTqumxeeVcK8CqAAG4VU/3/aRO-Bly-LUhPYwQlzZcKbA/aHR0cHM6Ly9hcHAubWFpbGpldC5jb20vYXV0aC9hY3RpdmF0ZS84NjEyMDU0MDlhNDNkZDZlNTM0OTgyZWEwM2NlZmRkMmY5NmNiMQ&amp;source=gmail&amp;ust=1545182415227000&amp;usg=AFQjCNHwcnMaRghVpiEm6RIZGlftBbM_JA" >
              Activate my account
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</td>
</tr>
<tr>
<td style="word-break:break-word;font-size:0px;padding:0px;padding-bottom:8px" align="center">
  <div style="color:#8c8c8c;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:14px;line-height:22px">
    If the link doesn’t work, copy this URL into your browser:
  </div>
</td>
</tr>
<tr>
<td style="word-break:break-word;font-size:0px;padding:0px;padding-bottom:35px" align="center">
  <div style="color:#3586ff;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:14px;line-height:22px">
    <a href="localhost:3000{{ route('verification') }}?token={{user.verificationToken}}" target="_blank"  style="text-decoration:none;color:inherit" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://gtpx.mjt.lu/lnk/BAAAAAqghCQAAAAAAAAAAG0sTBMAARpwxasAAAAAAAicvQBcGEtLva8X7KfqTqumxeeVcK8CqAAG4VU/3/aRO-Bly-LUhPYwQlzZcKbA/aHR0cHM6Ly9hcHAubWFpbGpldC5jb20vYXV0aC9hY3RpdmF0ZS84NjEyMDU0MDlhNDNkZDZlNTM0OTgyZWEwM2NlZmRkMmY5NmNiMQ&amp;source=gmail&amp;ust=1545182415227000&amp;usg=AFQjCNHwcnMaRghVpiEm6RIZGlftBbM_JA">http://localhost:3000{{ route('verification') }}?token={{user.verificationToken}} </a>
  </div>
</td>
</tr>
<tr>
<td style="word-break:break-word;font-size:0px;padding:0px" align="center">
  <div style="color:#8c8c8c;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:14px;line-height:22px">
    Welcome aboard!
  </div>
</td>
</tr>
<tr>
<td style="word-break:break-word;font-size:0px;padding:0px" align="center">
  <div style="color:#8c8c8c;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:14px;line-height:22px">
    The Nearby Shops Crew
  </div>
</td>
</tr>
                      
                    
                  
                  <tr>
                    <td style="word-break:break-word;font-size:0px;padding:0px" align="center">
                      <div style="color:#8c8c8c;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:14px;line-height:22px">
                        PS: you have agreed to receive our newsletter. 
Your newsletter subscription may be cancelled at any time by clicking on the unsubscribe link included in each email we send out.
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  
  <div style="margin:0 auto;max-width:600px">
    <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%" align="center" border="0">
      <tbody>
        <tr>
          <td style="text-align:center;vertical-align:top;font-size:0px;padding:30px">
            
            <div aria-labelledby="mj-column-per-100" class="m_2225452685284323251mj-column-per-100" style="vertical-align:top;display:inline-block;font-size:13px;text-align:left;width:100%">
              <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                <tbody>
                  <tr>
                    <td style="word-break:break-word;font-size:0px;padding:0px;padding-bottom:10px" align="center">
                      <div style="color:#8c8c8c;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:12px;line-height:22px">
                        <span>This email was sent to you by Nearby Shops because you signed up for a Nearby Shops account.</span> <span>Please let us know if you feel that this email was sent to you by error.</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="word-break:break-word;font-size:0px;padding:0px;padding-bottom:15px" align="center">
                      <div style="color:#8c8c8c;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:12px;line-height:22px">
                        © 2018 Nearby Shops 
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td style="word-break:break-word;font-size:0px;padding:0px;padding-bottom:10px" align="center">
                      <div style="color:#8c8c8c;font-family:Roboto,Helvetica,Arial,sans-serif;font-size:12px;line-height:22px">
                        <a href="http://gtpx.mjt.lu/lnk/BAAAAAqghCQAAAAAAAAAAG0sTBMAARpwxasAAAAAAAicvQBcGEtLva8X7KfqTqumxeeVcK8CqAAG4VU/4/-7rkv-znzOTXo9LtV-fbxw/aHR0cHM6Ly93d3cubWFpbGpldC5jb20vcHJpdmFjeS1wb2xpY3k" style="color:inherit;padding:0 7px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://gtpx.mjt.lu/lnk/BAAAAAqghCQAAAAAAAAAAG0sTBMAARpwxasAAAAAAAicvQBcGEtLva8X7KfqTqumxeeVcK8CqAAG4VU/4/-7rkv-znzOTXo9LtV-fbxw/aHR0cHM6Ly93d3cubWFpbGpldC5jb20vcHJpdmFjeS1wb2xpY3k&amp;source=gmail&amp;ust=1545182415227000&amp;usg=AFQjCNHnPSmD-0GGJF1v8HIvu_GXQ_-RhA">Privacy Policy</a>
                        <a href="http://gtpx.mjt.lu/lnk/BAAAAAqghCQAAAAAAAAAAG0sTBMAARpwxasAAAAAAAicvQBcGEtLva8X7KfqTqumxeeVcK8CqAAG4VU/5/mjOXXNlPsohSbCqzD_3tKA/aHR0cHM6Ly93d3cubWFpbGpldC5jb20vc2VuZGluZy1wb2xpY3k" style="color:inherit;padding:0 7px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://gtpx.mjt.lu/lnk/BAAAAAqghCQAAAAAAAAAAG0sTBMAARpwxasAAAAAAAicvQBcGEtLva8X7KfqTqumxeeVcK8CqAAG4VU/5/mjOXXNlPsohSbCqzD_3tKA/aHR0cHM6Ly93d3cubWFpbGpldC5jb20vc2VuZGluZy1wb2xpY3k&amp;source=gmail&amp;ust=1545182415227000&amp;usg=AFQjCNFMpe1nmQQsqP-mEurVTxz6xAwCvQ">Sending Policy</a>
                        <a href="http://gtpx.mjt.lu/lnk/BAAAAAqghCQAAAAAAAAAAG0sTBMAARpwxasAAAAAAAicvQBcGEtLva8X7KfqTqumxeeVcK8CqAAG4VU/6/QhwvyRtpiGIzGolpZ-XDpw/aHR0cHM6Ly93d3cubWFpbGpldC5jb20vdGVybXMtYW5kLWNvbmRpdGlvbnM" style="color:inherit;padding:0 7px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://gtpx.mjt.lu/lnk/BAAAAAqghCQAAAAAAAAAAG0sTBMAARpwxasAAAAAAAicvQBcGEtLva8X7KfqTqumxeeVcK8CqAAG4VU/6/QhwvyRtpiGIzGolpZ-XDpw/aHR0cHM6Ly93d3cubWFpbGpldC5jb20vdGVybXMtYW5kLWNvbmRpdGlvbnM&amp;source=gmail&amp;ust=1545182415227000&amp;usg=AFQjCNFTi2xi_WLfXoTinxUNhczl46JWYw">Terms of Use</a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            
          </td>
        </tr>
      </tbody>
    </table><div class="yj6qo"></div><div class="adL">
  </div></div><div class="adL">
  
</div></div>